
table {
    width: 100%;
}

.mat-column-name{
    min-width: 190px;
 }

 .mat-column-scientificName{
    min-width: 230px;
 }

 .mat-column-animalNature{
    min-width: 110px;
 }

.mat-column-option{
    min-width: 110px;
 }