<page-header></page-header>

<mat-card>
    <form [formGroup]="busStopForm" (ngSubmit)="ngSubmit()">
      <mat-card-title>
        <div fxFlex="98" fxLayoutAlign="end center" fxLayoutGap="15px" >
          <button mat-button (click)="ngBack()">
            <mat-icon matTooltip="Back">arrow_back</mat-icon>
            {{'generel.back' | translate}}
          </button>
          <button mat-raised-button color="primary" [disabled]="!busStopForm.valid || isSubmitBtnDisabled">
            {{'generel.submit' | translate}}
          </button>
        </div>
      </mat-card-title>
      
      <div fxLayout="row warp" class="form-field-full" fxLayoutGap="8px">
        <div fxFlex="48">
          <mat-form-field appearance="standard">
            <mat-label>{{'bus_stop.busStopNumber' | translate}}</mat-label>
            <input matInput formControlName="stopNumber" />
          </mat-form-field>
        </div>
  
        <div fxFlex="48">
          <mat-form-field appearance="standard">
            <mat-label>{{'bus_stop.label' | translate}}</mat-label>
            <input matInput formControlName="lable" />
          </mat-form-field>
        </div>
  
        <div fxFlex="48">
          <mat-form-field appearance="standard">
            <mat-label>{{'bus_stop.longitude' | translate}}</mat-label>
            <input matInput formControlName="longitude" />
          </mat-form-field>
        </div>
  
        <div fxFlex="48">
          <mat-form-field appearance="standard">
            <mat-label>{{'bus_stop.latitude' | translate}}</mat-label>
            <input matInput formControlName="latitude" />
          </mat-form-field>
        </div>
  
        <div fxFlex="48">
          <mat-form-field appearance="standard">
            <mat-label>{{'bus_stop.zone' | translate}}</mat-label>
            <input matInput formControlName="zone" />
          </mat-form-field>
        </div>
  
        <div fxFlex="48"></div>
  
      </div>
    </form>
  </mat-card>